.about-container{
    margin: 4rem 6rem;
    text-align: center;   
}
.about-container h1{
    padding-bottom: 1rem;
}

.about-container p{
    padding-bottom: 2rem;
}

.NH{
    background-color: #fff;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .25);
    margin-top: 5px ;
    margin-bottom: 30px;
}

.NH1{
    background-color: #fff;
    align-items: start;
    border-radius: 7px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
    margin-top: 5px ;
    margin-bottom: 30px;
}

@media screen and (min-width: 850px){
    .about-container{
        margin: 4rem 2rem;
    }
    
}

